body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*calendar.js*/

#month{
  
}

table,th,td{

border: 2px solid black;
}

table{
  border-collapse: collapse;
}


/* moveon.js*/
#button{

}